RewriteEngine On
ErrorDocument 404 /404/index.html
Redirect 301 /christmas-2018-with-atlantis-dental-cambie/ /blog/christmas-2018-with-atlantis-dental-cambie/
Redirect 301 /halloween-2018-yaletown/ /blog/halloween-2018-yaletown/
Redirect 301 /2018-total-makeover-challenge-vancouver/ /blog/2018-total-makeover-challenge-vancouver/
Redirect 301 /happy-holidays-team/ /blog/happy-holidays-team/
Redirect 301 /happy-holidays/ /blog/happy-holidays/
Redirect 301 /happy-halloween/ /blog/happy-halloween/
Redirect 301 /support-pink-t-shirt-day-anti-bullying/ /blog/support-pink-t-shirt-day-anti-bullying/
Redirect 301 /atlantis-dental-attends-barbeque/ /blog/atlantis-dental-attends-barbeque/
Redirect 301 /rid-toothache-fast/ /blog/rid-toothache-fast/
Redirect 301 /floss-dental-floss-faq-video/ /blog/floss-dental-floss-faq-video/
Redirect 301 /live-longer-happier-life-smile/ /blog/live-longer-happier-life-smile/
Redirect 301 /dental-secrets-straight-dentist/ /blog/dental-secrets-straight-dentist/
Redirect 301 /dentist-weve-good-reasons/ /blog/dentist-weve-good-reasons/
Redirect 301 /understanding-common-worn-teeth/ /blog/understanding-common-worn-teeth/
Redirect 301 /tongue-rings-fatal-preventing/ /blog/tongue-rings-fatal-preventing/
Redirect 301 /tooth-sensitivity-solutions-video/ /blog/tooth-sensitivity-solutions-video/
Redirect 301 /oral%e2%80%a9-cancer-%e2%80%a9get-%e2%80%a9the/ /blog/oral%e2%80%a9-cancer-%e2%80%a9get-%e2%80%a9the/
Redirect 301 /celebrate-oral-health-month-free/ /blog/celebrate-oral-health-month-free/
Redirect 301 /tooth-decay-living-sugar-culture/ /blog/tooth-decay-living-sugar-culture/
Redirect 301 /x-rays-necessity-oral-health/ /blog/x-rays-necessity-oral-health/
Redirect 301 /sweet-easter-atlantis-dental-centre/ /blog/sweet-easter-atlantis-dental-centre/
Redirect 301 /gum-disease-prevent-it-video/ /blog/gum-disease-prevent-it-video/
Redirect 301 /wondering-how-floss-properly/ /blog/wondering-how-floss-properly/
Redirect 301 /oral-health-care-nail-biting/ /blog/oral-health-care-nail-biting/
Redirect 301 /atlantis-dental-team-celebrates/ /blog/atlantis-dental-team-celebrates/
Redirect 301 /childrens-oral-health-care/ /blog/childrens-oral-health-care/
Redirect 301 /prevent-gum-disease-pregnancy/ /blog/prevent-gum-disease-pregnancy/
Redirect 301 /thumb-sucking-dangerous-childs/ /blog/thumb-sucking-dangerous-childs/
Redirect 301 /bad-breath-freshen-tips-video/ /blog/bad-breath-freshen-tips-video/
Redirect 301 /dental-technology-enhancing-smile/ /blog/dental-technology-enhancing-smile/
Redirect 301 /exercising-enough-find/ /blog/exercising-enough-find/
Redirect 301 /proper-oral-care-childrens/ /blog/proper-oral-care-childrens/
Redirect 301 /brushing-teeth-properly-learn/ /blog/brushing-teeth-properly-learn/
Redirect 301 /national-childrens-dental-health/ /blog/national-childrens-dental-health/
Redirect 301 /bad-breath-conquer-tips/ /blog/bad-breath-conquer-tips/
Redirect 301 /kids-cavities-parents/ /blog/kids-cavities-parents/
Redirect 301 /prevent-cavities-by-using-dental-sealants/ /blog/prevent-cavities-by-using-dental-sealants/
Redirect 301 /early-oral-health/ /blog/early-oral-health/
Redirect 301 /dental-veneers/ /blog/dental-veneers/
Redirect 301 /whiten-your-smile-in-time-for-holiday-visiting/ /blog/whiten-your-smile-in-time-for-holiday-visiting/
Redirect 301 /smile-correction-101-fixing-a-gummy-smile/ /blog/smile-correction-101-fixing-a-gummy-smile/
Redirect 301 /happy-holidays-from-atlantis-dental-centre/ /blog/happy-holidays-from-atlantis-dental-centre/
Redirect 301 /dental-911-recognizing-need-for-emergency-dental-treatment/ /blog/dental-911-recognizing-need-for-emergency-dental-treatment/
Redirect 301 /does-invisalign-work-straightening-teeth-with-hidden-braces/ /blog/does-invisalign-work-straightening-teeth-with-hidden-braces/
Redirect 301 /reminder-your-dental-insurance-is-about-to-expire/ /blog/reminder-your-dental-insurance-is-about-to-expire/
Redirect 301 /executive-esthetic-dentistry/ /blog/executive-esthetic-dentistry/
Redirect 301 /smiles-for-life-keeping-your-teeth-natural/ /blog/smiles-for-life-keeping-your-teeth-natural/
Redirect 301 /fast-food-teens-cavities/ /blog/fast-food-teens-cavities/
Redirect 301 /ready-to-climb-the-ladder-come-see-us-first/ /blog/ready-to-climb-the-ladder-come-see-us-first/
Redirect 301 /halloween-atlantis-dental/ /blog/halloween-atlantis-dental/
Redirect 301 /the-facts-about-wisdom-teeth/ /blog/the-facts-about-wisdom-teeth/
Redirect 301 /the-proven-ways-to-prevent-cavities/ /blog/the-proven-ways-to-prevent-cavities/
Redirect 301 /toxic-teeth-smoking-and-oral-health-issues/ /blog/toxic-teeth-smoking-and-oral-health-issues/
Redirect 301 /get-the-rest-you-need-put-a-stop-to-teeth-grinding-today/ /blog/get-the-rest-you-need-put-a-stop-to-teeth-grinding-today/
Redirect 301 /a-brighter-smile-leads-to-career-success/ /blog/a-brighter-smile-leads-to-career-success/
Redirect 301 /keep-your-smile-sparkling-with-regular-dental-cleaning-and-checkups/ /blog/keep-your-smile-sparkling-with-regular-dental-cleaning-and-checkups/
Redirect 301 /learn-about-wisdom-teeth-removal-procedure-and-recovery/ /blog/learn-about-wisdom-teeth-removal-procedure-and-recovery/
Redirect 301 /what-veneers-can-do-for-your-smile/ /blog/what-veneers-can-do-for-your-smile/
Redirect 301 /the-solution-for-teeth-grinding/ /blog/the-solution-for-teeth-grinding/
Redirect 301 /important-dental-advice-for-expectant-mothers/ /blog/important-dental-advice-for-expectant-mothers/
Redirect 301 /upcoming-wedding-time-to-get-your-smile-looking-its-brightest/ /blog/upcoming-wedding-time-to-get-your-smile-looking-its-brightest/
Redirect 301 /modern-day-cosmetic-dentistry-boosting-self-esteem-around-the-globe/ /blog/modern-day-cosmetic-dentistry-boosting-self-esteem-around-the-globe/
Redirect 301 /how-to-know-if-you-have-gum-disease/ /blog/how-to-know-if-you-have-gum-disease/
Redirect 301 /5-summer-snack-tips-to-protect-your-childs-teeth/ /blog/5-summer-snack-tips-to-protect-your-childs-teeth/
Redirect 301 /link-found-between-oral-health-diabetes/ /blog/link-found-between-oral-health-diabetes/
Redirect 301 /find-us-on-facebook/ /blog/find-us-on-facebook/
Redirect 301 /is-your-smile-ready-for-summer/ /blog/is-your-smile-ready-for-summer/
Redirect 301 /what-every-dad-and-grad-needs/ /blog/what-every-dad-and-grad-needs/
Redirect 301 /the-facts-about-oral-cancer-prevention/ /blog/the-facts-about-oral-cancer-prevention/
Redirect 301 /april-is-oral-health-month/ /blog/april-is-oral-health-month/
Redirect 301 /atlantis-dental-team-attends-2011-pacific-dental-conference/ /blog/atlantis-dental-team-attends-2011-pacific-dental-conference/
Redirect 301 /atlantis-dental-light-up-the-night-with-smiles-at-illuminate-yaletown/ /blog/atlantis-dental-light-up-the-night-with-smiles-at-illuminate-yaletown/
Redirect 301 /invisalign-the-clear-comfortable-solution-to-crooked-teeth/ /blog/invisalign-the-clear-comfortable-solution-to-crooked-teeth/
Redirect 301 /literacy-project-mongolia-update/ /blog/literacy-project-mongolia-update/
Redirect 301 /atlantis-in-the-community/ /blog/atlantis-in-the-community/
Redirect 301 /dental-tips-to-help-you-enjoy-the-holidays/ /blog/dental-tips-to-help-you-enjoy-the-holidays/
Redirect 301 /for-every-new-atlantis-patient-we-sponsor-a-child-in-mongolia/ /blog/for-every-new-atlantis-patient-we-sponsor-a-child-in-mongolia/
Redirect 301 /greetings/ /blog/greetings/
Redirect 301 /our-services/advanced-restorations/ /our-services/dental-restorations/
Redirect 301 /our-services/sleep-dentistry/ /our-services/sedation-dentistry/
Redirect 301 /why-choose-us/our-office/ /why-choose-us/
Redirect 301 /why-choose-us/our-languages/ /why-choose-us/our-team/
Redirect 301 /our-technology/itero-scanner/ /our-technology/
Redirect 301 /blog/page/8/ /blog/
Redirect 301 /blog/page/9/ /blog/
Redirect 301 /blog/page/10/ /blog/
Redirect 301 /blog/page/11/ /blog/
Redirect 301 /blog/page/12/ /blog/
Redirect 301 /blog/page/13/ /blog/
